*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

.navbar{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
      
        li{
            margin-left: 20px;
            
            a{
                color: white;
            }
        }
    }
}